body{
	margin:0px;
	background-color: #FFFBF5;
	font-size: 1.5rem
}

html{
	font-family: Raleway;
	font-size: 1vw;
}

a{
	text-decoration: none;
}

.header{
	height: 80px;
	background-color:#48260A;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	margin-left: 2rem;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

#menu{
	color: white;
	margin: 1rem;
	font-size: 14PX;
}

.head-index{
	display: flex;
	margin-right: 10px
}

.menu-img{
	border-radius: 50%;
	height:12vw;
	width: 12vw;
}

.rotation{
	display:inline-flex;
	justify-content:space-around;	
	width: 80%
}

.rotation-choice{
	width: 15vw;
}

.rotation-text{
	padding: 5px
	margin:0px;
}

.view-more{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 10vw
}

.top-banner{
	height: 35vw;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%
}

.banner-text{
	text-align: center;
	margin-top: -15vw;
	margin-bottom: 15vw;
	color: white;
}

.page-banner{
	height: 30vw;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.body{
	display: inline-flex; 
	margin-left: 8vw; 
	margin-right: 8vw;
}

.footer{
	height: 210px;
	background-color: #3F2B17;
}

.leftaligned-text{
	line-height: 2px;
	text-align: left;
}

.form-text{
	font-size: 1vw;
}





















