html,body{
	width: 100%;
	height: 100%;
}

body{
	margin:0px;
	background-color: #FFFBF5;
	font-size: 1.5rem
}

html{
	font-family: Raleway;
	font-size: .7vw;
}

h1{
	font-size: 8rem
}

a{
	text-decoration: none;
}

p{
	line-height: 2.5rem;
}





.header{
	height: 80px;
	background-color:#4f1e09;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	margin-left: 2rem;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

#menu{
	color: white;
	margin: 1rem;
	font-size: 12PX;
}

.head-index{
	display: flex;
	margin-right: 10px
}

.menu-img{
	border-radius: 50%;
	height:12vw;
	width: 12vw;
}

.rotation{
	display:inline-flex;
	justify-content:space-around;	
	width: 80%
}

.rotation-choice{
	width: 15vw;
	margin-right: 10px;
	margin-left: 10px;
}

.rotation-text{
}

.view-more{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 10vw
}

.top-banner{
	height: 35vw;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%
}

.banner-text{
	text-align: center;
	margin-top: -25rem;
	margin-bottom: 20rem;
	color: white;
}

.page-banner{
	height: 30vw;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


.body{
	display: inline-flex; 
	margin-left: 8vw; 
	margin-right: 8vw;
}

.footer{
	height: 210px;
	background-color: #4f1e09;
}

.leftaligned-text{
	line-height: 2px;
	text-align: left;
}

.form-text{
	font-size: 1vw;
}

#space{
	margin-top: 8rem;
	margin-bottom: 3rem
}


/* ---- tablet nav---- */
@media only screen and (min-width: 700px) and (max-width:  1024px){
	p{
		font-size: 2.3rem;
		line-height: 3rem;

	}
	h2{
		font-size: 3rem;
	}
	h1{
		font-size: 10rem;
	}
	.body{
		margin-left: 7rem; 
		margin-right: 7rem;
		display: inline-flex;
	}
	#menu{
		font-size: 14px;
	}
	.rotation-choice{

	}
}

/* ---- mobile ---- */
@media only screen and (max-width:700px){
	p{
		font-size: 4rem;
		line-height: 4.5rem;

	}
	h2{
		font-size: 5rem;
	}
	h1{
		font-size: 10rem;
	}
	.body{
		margin-left: 7rem; 
		margin-right: 7rem;
		display: inline-flex;
	}
	#menu{
		font-size: 14px;
	}
	.rotation-choice{
		height:20vw;
		width: 20vw;
		margin-bottom: 110px;

	}

	.menu-img{
	border-radius: 50%;
	height:20vw;
	width: 20vw;
	}

	.rotation{
	display:inline-flex;
	justify-content:space-around;	
	flex-wrap: wrap;

	}
	
}















