html,body{
	width: 100%;
	height: 100%;
}

body{
	margin:0px;
	background-color: #FFFBF5;
	font-size: 1.5rem
}

html{
	font-family: Raleway;
	font-size: .7vw;
}

h1{
	font-size: 8rem
}

a{
	text-decoration: none;
}
a:visited { 
	text-decoration: none; 
	color:black;
}
a:hover { 
	text-decoration: none; 
	color:black;
}
a:focus { 
	text-decoration: none; 
	color:black;
}
a:hover, a:active { 
	text-decoration: none;
	 color:black;
}

p{
	line-height: 2.5rem;
}





.header{
	height: 80px;
	background-color:#4f1e09;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	margin-left: 2rem;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

#menu{
	color: white;
	margin: 1rem;
	font-size: 12PX;
}

#menu:active{
	color: rgba(255,255,255,.5);
}

#menu:hover{
	color: rgba(255,255,255,.7);
}


.head-index{
	display: flex;
	margin-right: 10px
}

.menu-img{
	border-radius: 50%;
	height:12vw;
	width: 12vw;
}

.rotation{
	display:inline-flex;
	justify-content:space-around;	
	width: 80%
}

.rotation-choice{
	width: 15vw;
	margin-right: 10px;
	margin-left: 10px;
}

.rotation-text{
}

.view-more{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 10vw
}

.top-banner{
	height: 35vw;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%
}

.banner-text{
	text-align: center;
	margin-top: -25rem;
	margin-bottom: 20rem;
	color: white;
}

.page-banner{
	height: 30vw;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


.body{
	display: inline-flex; 
	margin-left: 8vw; 
	margin-right: 8vw;
}

.footer{
	height: 210px;
	background-color: #4f1e09;
}

.leftaligned-text{
	line-height: 2px;
	text-align: left;
}

.form-text{
	font-size: 1vw;
}

#space{
	margin-top: 8rem;
	margin-bottom: 3rem
}

.beginning-bio{
	margin-top: 5rem; 
	margin-bottom: 8rem; 
	margin-right: 20rem; 
	margin-left: 20rem; 
	text-align: center;
}

.indexmap{
	width:38vw; 
	height:22vw;
}

#justify{
	justify-content: space-around;
}


/* ---- tablet nav---- */
@media only screen and (min-width: 700px) and (max-width:  1024px){
	p{
		font-size: 2.3rem;
		line-height: 3rem;

	}
	h2{
		font-size: 3rem;
	}
	h1{
		font-size: 10rem;
	}
	.body{
		margin-left: 7rem; 
		margin-right: 7rem;
		display: inline-flex;
	}
	#menu{
		font-size: 14px;
	}
	.rotation-choice{

	}
}

/* ---- mobile ---- */
@media only screen and (max-width:700px){
	p{
		font-size: 4rem;
		line-height: 5.5rem;

	}
	h2{
		font-size: 5rem;
	}
	h1{
		font-size: 20rem;
	}
	.body{
		margin-left: 1rem; 
		margin-right: 1rem;
		display: inline-flex;
	}
	#menu{
		font-size: 14px;
	}
	.rotation-choice{
		height:20vw;
		width: 35vw;
		margin-bottom: 25vw;

	}

	/*.menu-img{
	border-radius: 50%;
	height:100px;
	width: 100px;
	display: inline-block;
	}*/

	.menu-img{
		height: 150%;
    	width: 85.725%;
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
    }








	.rotation{
	display:inline-flex;
	justify-content:space-around;	
	flex-wrap: wrap;
	margin-bottom: 10px;

	}
	#space{
		margin-bottom: 50px;
		margin-top:;
	}
	.banner-text{
	text-align: center;
	margin-top: -35rem;
	margin-bottom: 20rem;
	color: white;
	}
	.beginning-bio{
	margin-top: 5rem; 
	margin-bottom: 8rem; 
	margin-right: 10rem; 
	margin-left: 10rem; 
	text-align: center;
	}

	.indexmap{
	width:100vw; 
	height:22vw;
	}

	#justify{
				display: none;
	}
	
}















